<% include partials/header %>
    <div class="container">
         <h1><%= mobile.name%></h1>
         <img src="<%= mobile.image%>">
         <p><%= mobile.description%></p>
        
    </div>

<% include partials/footer %>
